@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Questrial&display=swap");

// color varialbes

$light-grey: #e0e5e5;
$black: #0f0f0f;
$orange: #ff8600;
$primary-blue: #476c9b;
$white: #ffffff;
$gray: #6b7680;
$red: #f21b3f;
$yellow-brand: #f9b11c;
$pink: #e65f99;
$purple: #551a8b;

// font uses

$main-font: "Gilroy", sans-serif;
$heading-font: "Playfair Display", serif;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.gallery-section {
    padding: 5rem 8% 0rem 8%;

    .gallery-heading {
        .gh-hd {
            h1 {
                font-family: $heading-font;
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 64px;
                /* identical to box height */
                letter-spacing: 0.02em;
            }
            p {
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 21px;
                font-family: $main-font;
                width: 80%;
            }
        }
    }
}

.gallery-images {
    padding: 4rem 8%;
    margin-top: 1rem;

    .all-images-g {
        .image-g {
            margin-top: 1.5rem;
            img {
                width: 100%;
                height: 100%;
                transition: all 0.3s ease-in-out;
                cursor: pointer;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }

    .load-more {
        display: flex;
        justify-content: center;
        margin-top: 3rem;

        button {
            width: 220px;
            height: 50px;
            border: 1px solid #0f0f0f;
            background-color: $white;
            font-family: $main-font;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
        }
    }
}

@media only screen and (max-width: 450px) {
    .gallery-section {
        padding: 2rem 4% 0rem 4%;
    }
    .gallery-section .gallery-heading .gh-hd h1 {
        font-family: "Playfair Display", serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 50px;
        letter-spacing: 0.02em;
    }
    .gallery-images {
        padding: 0rem 4%;
        margin-top: 1rem;
    }
    .gallery-images .all-images-g .image-g {
        margin-top: 1rem;
    }
    .gallery-images .load-more {
        display: flex;
        justify-content: center;
        margin: 3rem;
    }
    .gallery-images .load-more button {
        width: 150px;
        height: 45px;
        font-size: 16px;
        line-height: 19px;
    }
}