@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Questrial&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.all-navbar.fixed-nav {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  color: #0f0f0f;
}

.home-header {
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
  height: 100%;
  padding: 0;
}
.home-header .main-content-form {
  padding: 6rem 8%;
}
.home-header .main-content-form .text-btn-side h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 94px;
  line-height: 95px;
  font-family: "Gilroy" sans-serif;
  /* or 101% */
  width: 60%;
  color: #ffffff;
  text-transform: uppercase;
}
.home-header .main-content-form .text-btn-side h6 {
  color: #ffffff;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  margin-bottom: 2rem;
}
.home-header .main-content-form .text-btn-side a {
  text-decoration: none;
  color: #0f0f0f;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  background-color: #ffffff;
  padding: 0.7rem 1rem;
  width: 220px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.home-header .main-content-form .text-btn-side a:hover {
  color: #0f0f0f;
  background-color: #f9b11c;
}
.home-header .main-content-form .text-btn-side a i {
  margin-left: 1rem;
  font-size: 1.2rem;
}
.home-header .main-content-form .form-side {
  display: flex;
  justify-content: right;
}
.home-header .main-content-form .form-side form {
  background-color: #ffffff;
  width: 40%;
  border: 1px solid #ededed;
  padding: 1rem 1rem;
  padding-bottom: 0;
  text-align: center;
}
.home-header .main-content-form .form-side form h4 {
  color: #0f0f0f;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  padding: 0 1rem;
  line-height: 21px;
}
.home-header .main-content-form .form-side form span {
  color: #6b7680;
  padding: 0 1.5rem;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  display: block;
  margin-bottom: 1rem;
}
.home-header .main-content-form .form-side form .full-name,
.home-header .main-content-form .form-side form .phone-zipcode {
  display: flex;
  gap: 0.4rem;
  margin-top: 0.5rem;
}
.home-header .main-content-form .form-side form .full-name input,
.home-header .main-content-form .form-side form .phone-zipcode input {
  width: 50%;
  height: 32px;
  border: 1px solid #e0e5e5;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #6b7680;
  padding: 0rem 0.5rem;
}
.home-header .main-content-form .form-side form .email {
  margin-top: 0.5rem;
}
.home-header .main-content-form .form-side form .email input {
  width: 100%;
  height: 32px;
  border: 1px solid #e0e5e5;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #6b7680;
  padding: 0rem 0.5rem;
}
.home-header .main-content-form .form-side form button {
  background-color: #f9b11c;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  border: none;
  width: 100%;
  height: 40px;
  margin-top: 1rem;
  text-align: center;
}
.home-header .main-content-form .form-side form p {
  display: flex;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  padding: 1rem 2rem 0 2rem;
}
.home-header .main-content-form .form-side form p span {
  color: #f21b3f;
  padding: 0;
  margin: 0;
}
.home-header .call-num {
  background-color: #f9b11c;
  margin-top: 2rem;
  justify-content: center;
}
.home-header .call-num .all-content {
  display: flex;
  justify-content: center;
  padding: 0.8rem;
}
.home-header .call-num .all-content .text {
  text-align: center;
}
.home-header .call-num .all-content .text h4 {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  padding: 0;
  margin: 0;
  color: #0f0f0f;
  text-transform: uppercase;
}
.home-header .call-num .all-content .text p {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}
.home-header .call-num .all-content .num {
  margin-left: 2rem;
}
.home-header .call-num .all-content .num strong {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  /* identical to box height, or 100% */
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.company-details {
  background: #f8f8f8;
}
.company-details .heading-section {
  padding: 4rem 8%;
  align-items: center;
}
.company-details .heading-section .text-side h2 {
  font-family: "Playfair Display", serif;
  color: #0f0f0f;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
}
.company-details .heading-section .text-side p {
  font-family: "Gilroy", sans-serif;
  color: #0f0f0f;
  font-style: normal;
  font-weight: 500;
  width: 75%;
  font-size: 14px;
  line-height: 21px;
}
.company-details .heading-section .btn-side a {
  text-decoration: none;
  font-family: "Gilroy", sans-serif;
  color: #0f0f0f;
  font-style: normal;
  padding: 1rem 1.5rem;
  background-color: #f9b11c;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
}
.company-details .details-section {
  padding: 0 8%;
  padding-bottom: 4rem;
}
.company-details .details-section .all-content-dt {
  display: flex;
}
.company-details .details-section .all-content-dt .img-section {
  margin-right: 1rem;
}
.company-details .details-section .all-content-dt .text-section {
  width: 85%;
}
.company-details .details-section .all-content-dt .text-section h6 {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #0f0f0f;
  font-feature-settings: "pnum" on, "lnum" on;
}
.company-details .details-section .all-content-dt .text-section p {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  width: 85%;
}
.company-details .details-section .all-content-dt .text-section p a {
  color: #f9b11c;
  text-decoration: none;
}
.company-details .details-section .all-content-dt .text-section p a:hover {
  text-decoration: underline;
}

.our-products {
  padding: 6rem 8%;
}
.our-products .op-heading h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  text-align: center;
  color: #0f0f0f;
  font-family: "Playfair Display", serif;
}
.our-products .op-heading p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* or 150% */
  padding: 0 30rem;
  color: #0f0f0f;
  font-family: "Gilroy", sans-serif;
  text-align: center;
}
.our-products .all-images-content {
  margin-top: 2rem;
  padding: 0 0.7rem;
}
.our-products .all-images-content .op-content {
  padding: 0;
}
.our-products .all-images-content .op-content .box {
  position: relative;
}
.our-products .all-images-content .op-content .box img {
  width: 99%;
}
.our-products .all-images-content .op-content .box .text {
  position: absolute;
  bottom: 0.7rem;
  padding: 0 3rem 0 1.5rem;
}
.our-products .all-images-content .op-content .box .text span {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  color: #ffffff;
}
.our-products .all-images-content .op-content .box .text p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  font-family: "Gilroy", sans-serif;
  color: #ffffff;
  margin-top: 0.5rem;
}
.our-products .all-op-btn {
  margin-top: 2.5rem;
  justify-content: center;
}
.our-products .all-op-btn a {
  text-decoration: none;
  font-family: "Gilroy", sans-serif;
  color: #0f0f0f;
  font-style: normal;
  padding: 0.8rem 1.5rem;
  background-color: #f9b11c;
  font-weight: 600;
  font-size: 16px;
  width: 220px;
  text-align: center;
  line-height: 19px;
}

.ht-work {
  background: #0f0f0f;
}
.ht-work .all-content-ht {
  padding: 4rem 6%;
  padding-bottom: 0;
}
.ht-work .all-content-ht .consultation-form {
  background-color: #ffffff;
  width: 70%;
  padding: 2rem;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  position: absolute;
  margin-top: -2rem;
  margin-left: 7rem;
  display: none;
}
.ht-work .all-content-ht .consultation-form .close-form {
  cursor: pointer;
  display: flex;
  justify-content: right;
  margin-top: -1.2rem;
  margin-right: -1rem;
}
.ht-work .all-content-ht .consultation-form form {
  text-align: center;
}
.ht-work .all-content-ht .consultation-form form h4 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height */
}
.ht-work .all-content-ht .consultation-form form span {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  display: block;
  line-height: 21px;
}
.ht-work .all-content-ht .consultation-form form .full-name,
.ht-work .all-content-ht .consultation-form form .email-phone,
.ht-work .all-content-ht .consultation-form form .zipcode-btn {
  display: flex;
  gap: 1rem;
  padding: 0 10%;
  margin-top: 1.5rem;
}
.ht-work .all-content-ht .consultation-form form .full-name input,
.ht-work .all-content-ht .consultation-form form .email-phone input,
.ht-work .all-content-ht .consultation-form form .zipcode-btn input {
  width: 50%;
  height: 48px;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 0 1rem;
  color: #0f0f0f;
  border: 1px solid #0f0f0f;
}
.ht-work .all-content-ht .consultation-form form .full-name button,
.ht-work .all-content-ht .consultation-form form .email-phone button,
.ht-work .all-content-ht .consultation-form form .zipcode-btn button {
  background-color: #f9b11c;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  border: none;
  width: 50%;
  height: 50px;
  text-align: center;
}
.ht-work .all-content-ht .consultation-form form p {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  line-height: 21px;
  color: #0f0f0f;
  margin-top: 2rem;
}
.ht-work .all-content-ht .consultation-form form p span {
  color: red;
}
.ht-work .all-content-ht .yt-video-side .video-content {
  padding: 2rem 0 6rem 0;
  border-right: 1px solid #e0e5e5;
}
.ht-work .all-content-ht .yt-video-side .video-content iframe {
  width: 85%;
}
.ht-work .all-content-ht .yt-video-side .video-content h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  font-family: "Playfair Display", serif;
  color: #ffffff;
  padding: 1.5rem 0;
}
.ht-work .all-content-ht .yt-video-side .video-content p {
  font-family: "Gilroy", sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-top: 1rem;
  width: 70%;
}
.ht-work .all-content-ht .yt-video-side .video-content button {
  text-decoration: none;
  font-family: "Gilroy", sans-serif;
  color: #0f0f0f;
  font-style: normal;
  padding: 0.8rem 1.5rem;
  background-color: #f9b11c;
  font-weight: 600;
  font-size: 16px;
  width: 85%;
  display: block;
  text-align: center;
  line-height: 19px;
  margin-top: 2rem;
}
.ht-work .all-content-ht .text-img-side {
  padding: 4rem 0;
}
.ht-work .all-content-ht .text-img-side .ts-content {
  margin-bottom: 3rem;
}
.ht-work .all-content-ht .text-img-side .ts-content .ts-box {
  padding-left: 6rem;
  width: 98%;
}
.ht-work .all-content-ht .text-img-side .ts-content .ts-box img {
  margin-bottom: 1rem;
}
.ht-work .all-content-ht .text-img-side .ts-content .ts-box .line {
  width: 80px;
  height: 1px;
  background-color: #e0e5e5;
  margin: 1.2rem 0;
}
.ht-work .all-content-ht .text-img-side .ts-content .ts-box h6 {
  font-family: "Gilroy", sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  padding-right: 6rem;
  font-size: 19px;
  line-height: 25px;
}
.ht-work .all-content-ht .text-img-side .ts-content .ts-box p {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  width: 60%;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.latest-project {
  padding: 6rem 8%;
}
.latest-project .lt-heading h2 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  /* identical to box height, or 125% */
  text-align: center;
}
.latest-project .lt-heading p {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 21px;
}
.latest-project .all-images-content {
  margin-top: 3rem;
}
.latest-project .all-images-content .lt-content img {
  width: 100%;
  margin-bottom: 0.5rem;
}
.latest-project .all-images-content .lt-content span {
  color: #6b7680;
  margin-right: 0.5rem;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}
.latest-project .all-images-content .lt-content strong {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
  display: flex;
  margin: 0.6rem 0 0.4rem 0;
  align-items: center;
}
.latest-project .all-images-content .lt-content p {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.latest-project .all-lt-btn {
  margin-top: 2rem;
  justify-content: center;
}
.latest-project .all-lt-btn a {
  text-decoration: none;
  font-family: "Gilroy", sans-serif;
  color: #0f0f0f;
  font-style: normal;
  padding: 0.8rem 1.5rem;
  background-color: #f9b11c;
  font-weight: 600;
  font-size: 16px;
  width: 250px;
  text-align: center;
  line-height: 19px;
}

.contact-us-form {
  background-image: url(/images/contact\ us\ bg\ 1.png);
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  height: 100%;
}
.contact-us-form .cu-heading {
  text-align: center;
  padding-top: 6rem;
}
.contact-us-form .cu-heading h3 {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
}
.contact-us-form .cu-heading p {
  color: #ffffff;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}
.contact-us-form form {
  width: 40%;
  margin: 0 auto;
  margin-top: 2rem;
}
.contact-us-form form .full-name,
.contact-us-form form .email-phone,
.contact-us-form form .zipcode-btn {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}
.contact-us-form form .full-name input,
.contact-us-form form .email-phone input,
.contact-us-form form .zipcode-btn input {
  width: 50%;
  background: none;
  border: 1px solid #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  height: 50px;
  padding: 0 1rem;
}
.contact-us-form form .full-name button,
.contact-us-form form .email-phone button,
.contact-us-form form .zipcode-btn button {
  background-color: #f9b11c;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  border: none;
  width: 50%;
  height: 50px;
  text-align: center;
}
.contact-us-form form p {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
  margin-top: 2rem;
  padding-bottom: 4rem;
}
.contact-us-form form p span {
  color: red;
}

.latest-blogs {
  padding: 6rem 8%;
}
.latest-blogs .lb-heading h2 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  /* identical to box height, or 125% */
  text-align: center;
}
.latest-blogs .lb-heading p {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 21px;
}
.latest-blogs .all-images-content {
  margin-top: 3rem;
}
.latest-blogs .all-images-content .lb-content img {
  width: 100%;
  margin-bottom: 1rem;
}
.latest-blogs .all-images-content .lb-content h6 {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  display: flex;
  align-items: center;
}
.latest-blogs .all-images-content .lb-content p {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  width: 90%;
}
.latest-blogs .all-images-content .lb-content a {
  text-decoration: none;
  color: #0f0f0f;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  display: block;
}
.latest-blogs .all-images-content .lb-content a i {
  color: #f9b11c;
  margin-left: 0.7rem;
}
.latest-blogs .all-lt-btn {
  margin-top: 2rem;
  justify-content: center;
}
.latest-blogs .all-lt-btn a {
  text-decoration: none;
  font-family: "Gilroy", sans-serif;
  color: #0f0f0f;
  font-style: normal;
  padding: 0.8rem 1.5rem;
  background-color: #f9b11c;
  font-weight: 600;
  font-size: 16px;
  width: 250px;
  text-align: center;
  line-height: 19px;
}

.signup-form {
  background-color: #0f0f0f;
  padding: 4rem 0;
}
.signup-form .sf-heading {
  text-align: center;
}
.signup-form .sf-heading h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #ffffff;
  font-family: "Playfair Display", serif;
}
.signup-form .sf-heading p {
  font-family: "Gilroy", sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.signup-form .sf-form {
  margin-top: 3rem;
  width: 100%;
}
.signup-form .sf-form .form-data {
  padding: 0;
}
.signup-form .sf-form .form-data form {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.signup-form .sf-form .form-data form input {
  width: 20%;
  background: none;
  border: 1px solid #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  height: 50px;
  padding: 0 1rem;
}
.signup-form .sf-form .form-data form button {
  background-color: #f9b11c;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  border: none;
  width: 20%;
  height: 50px;
  text-align: center;
}

@media only screen and (max-width: 1650px) {
  .home-header .main-content-form {
    padding: 6rem 6%;
  }
  .home-header .main-content-form .text-btn-side h1 {
    width: 70%;
  }
  .home-header .main-content-form .form-side form {
    width: 50%;
  }
  .ht-work .all-content-ht .text-img-side .ts-content .ts-box p {
    width: 80%;
  }
  .ht-work .all-content-ht .text-img-side .ts-content .ts-box h6 {
    padding-right: 4rem;
  }
  .ht-work .all-content-ht .yt-video-side .video-content p {
    width: 80%;
  }
  .company-details .heading-section {
    padding: 4rem 6%;
  }
  .company-details .details-section {
    padding: 0 6%;
    padding-bottom: 4rem;
  }
  .our-products {
    padding: 6rem 6%;
  }
  .our-products .op-heading p {
    padding: 0 22rem;
  }
  .latest-project {
    padding: 6rem 6%;
  }
  .contact-us-form form {
    width: 50%;
  }
  .latest-blogs {
    padding: 6rem 6%;
  }
}
@media only screen and (max-width: 990px) {
  .home-header .main-content-form .text-btn-side {
    text-align: center;
  }
  .home-header .main-content-form .text-btn-side h1 {
    width: 100%;
  }
  .home-header .main-content-form .form-side {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
  }
  .our-products .op-heading p {
    padding: 0 7rem;
  }
  .home-header .call-num .all-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0.8rem;
  }
}
@media only screen and (max-width: 450px) {
  .home-header .main-content-form {
    padding: 3rem 3%;
  }
  .home-header .main-content-form .text-btn-side h1 {
    width: 100%;
    font-size: 44px;
    line-height: 56px;
  }
  .home-header .main-content-form .text-btn-side h6 {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 1.5rem;
    margin-top: 0rem;
  }
  .home-header .main-content-form .form-side form {
    width: 80%;
    margin-top: 1rem;
  }
  .home-header .call-num .all-content .text h4 {
    font-size: 22px;
    line-height: 32px;
  }
  .home-header .call-num .all-content .num strong {
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.1em;
    margin-left: -1.5rem;
    text-transform: uppercase;
  }
  .company-details .heading-section {
    padding: 2rem 4%;
    text-align: center;
  }
  .company-details .heading-section .text-side h2 {
    font-size: 30px;
    line-height: 45px;
  }
  .company-details .heading-section .text-side p {
    width: 100%;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 0.7rem;
  }
  .company-details .details-section {
    padding: 0 4%;
    padding-bottom: 0rem;
  }
  .company-details .details-section .all-content-dt {
    padding-left: 1.2rem;
    margin-top: 1rem;
  }
  .company-details .details-section .all-content-dt .text-section h6 {
    font-size: 20px;
    line-height: 26px;
  }
  .company-details .details-section .all-content-dt .text-section p {
    font-size: 14px;
    line-height: 21px;
    width: 95%;
  }
  .company-details {
    background: #f8f8f8;
    padding-bottom: 3rem;
  }
  .our-products {
    padding: 2rem 4%;
  }
  .our-products .op-heading h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
  }
  .our-products .op-heading p {
    padding: 0rem;
  }
  .our-products .all-images-content .op-content .box .text span {
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;
  }
  .our-products .all-op-btn {
    margin-top: 2rem;
    justify-content: center;
  }
  .ht-work .all-content-ht {
    padding: 2rem 2%;
    padding-bottom: 0;
  }
  .ht-work .all-content-ht .yt-video-side .video-content {
    padding: 0rem;
    border-right: 0;
  }
  .ht-work .all-content-ht .yt-video-side .video-content h4 {
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    padding: 0 0 1rem 0;
  }
  .ht-work .all-content-ht .yt-video-side .video-content img {
    width: 100%;
  }
  .ht-work .all-content-ht .yt-video-side .video-content a {
    width: 100%;
    margin-top: 1rem;
  }
  .ht-work .all-content-ht .text-img-side .ts-content .ts-box {
    padding-left: 4rem;
  }
  .ht-work .all-content-ht .text-img-side {
    padding: 2.5rem 0;
  }
  .ht-work .all-content-ht .text-img-side .ts-content .ts-box h6 {
    padding-right: 4rem;
    font-size: 18px;
    line-height: 23px;
  }
  .ht-work .all-content-ht .text-img-side .ts-content {
    margin-bottom: 0.2rem;
  }
  .latest-project {
    padding: 2rem 4%;
  }
  .latest-project .lt-heading h2 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
  .latest-project .all-images-content {
    margin-top: 1.5rem;
  }
  .latest-project .all-images-content .lt-content strong {
    font-size: 18px;
    line-height: 22px;
    display: flex;
    margin: 0.5rem 0 0.35rem 0;
    align-items: center;
  }
  .latest-project .all-lt-btn {
    margin-top: 1rem;
  }
  .contact-us-form .cu-heading {
    text-align: center;
    padding-top: 2rem;
  }
  .contact-us-form .cu-heading h3 {
    font-size: 24px;
    line-height: 32px;
  }
  .contact-us-form .cu-heading p {
    font-size: 14px;
    line-height: 20px;
  }
  .contact-us-form form {
    width: 95%;
    margin-top: 1.5rem;
  }
  .contact-us-form form .full-name,
.contact-us-form form .email-phone,
.contact-us-form form .zipcode-btn {
    gap: 1rem;
    margin-top: 1rem;
  }
  .contact-us-form form .full-name input,
.contact-us-form form .email-phone input,
.contact-us-form form .zipcode-btn input {
    line-height: 16px;
    color: #ffffff;
    height: 42px;
    padding: 0 0.7rem;
  }
  .contact-us-form form .zipcode-btn button {
    height: 42px;
    text-align: center;
  }
  .latest-blogs {
    padding: 2rem 4%;
  }
  .latest-blogs .lb-heading h2 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
  .latest-blogs .all-images-content {
    margin-top: 1.5rem;
  }
  .latest-blogs .all-images-content .lb-content p {
    width: 100%;
    margin-bottom: 0.4rem;
  }
  .our-products .all-images-content .op-content .box img {
    width: 100%;
    margin-top: 0.5rem;
  }
  .latest-blogs .all-images-content .lb-content img {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .latest-blogs .all-images-content .lb-content {
    margin-top: 1rem;
  }
  .signup-form {
    background-color: #0f0f0f;
    padding: 3rem 0;
  }
  .signup-form .sf-heading h3 {
    font-size: 26px;
    line-height: 38px;
  }
  .signup-form .sf-heading p {
    padding: 0 1rem;
  }
  .signup-form .sf-form {
    margin-top: 1.5rem;
  }
  .signup-form .sf-form .form-data form input {
    width: 45%;
    height: 42px;
    padding: 0 0.5rem;
  }
  .signup-form .sf-form .form-data form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-left: 1.4rem;
  }
  .signup-form .sf-form .form-data form button {
    width: 45%;
    height: 42px;
    text-align: center;
  }
  .ht-work .all-content-ht .consultation-form {
    background-color: #ffffff;
    width: 97%;
    padding: 2rem;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
    position: absolute;
    margin-top: 2rem;
    margin-left: 0rem;
  }
  .ht-work .all-content-ht .yt-video-side .video-content iframe {
    width: 100%;
  }
  .ht-work .all-content-ht .yt-video-side .video-content button {
    width: 100%;
    border: none;
    margin-top: 1rem;
  }
  .ht-work .all-content-ht .consultation-form form h4 {
    font-size: 24px;
    line-height: 34px;
  }
  .ht-work .all-content-ht .consultation-form form .full-name, .ht-work .all-content-ht .consultation-form form .email-phone, .ht-work .all-content-ht .consultation-form form .zipcode-btn {
    display: flex;
    gap: 1rem;
    padding: 0;
    margin-top: 1rem;
  }
  .ht-work .all-content-ht .consultation-form form .full-name input, .ht-work .all-content-ht .consultation-form form .email-phone input, .ht-work .all-content-ht .consultation-form form .zipcode-btn input {
    width: 50%;
    height: 40px;
    padding: 0 0.5rem;
  }
  .ht-work .all-content-ht .consultation-form form .zipcode-btn button {
    height: 40px;
    text-align: center;
  }
  .ht-work .all-content-ht .consultation-form form p {
    margin-top: 1rem;
  }
  .latest-project .all-lt-btn a {
    font-size: 15px;
    width: 200px;
    text-align: center;
    line-height: 19px;
  }
}/*# sourceMappingURL=home.css.map */