@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Questrial&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.project-details-section {
  padding: 2rem 8%;
}
.project-details-section .all-content-prdt {
  margin-top: 4rem;
  align-items: center;
}
.project-details-section .all-content-prdt .img-side img {
  width: 90%;
}
.project-details-section .all-content-prdt .text-side .prop {
  display: flex;
  gap: 1rem;
}
.project-details-section .all-content-prdt .text-side .prop li {
  list-style: none;
  font-family: "Gilroy", sans-serif;
  color: #f9b11c;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.project-details-section .all-content-prdt .text-side h1 {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  width: 65%;
  line-height: 57px;
  margin-top: 0.5rem;
  letter-spacing: 0.02em;
}
.project-details-section .all-content-prdt .text-side .location {
  display: flex;
  gap: 0.5rem;
}
.project-details-section .all-content-prdt .text-side .location img {
  width: 15px;
  height: 20px;
  color: black;
}
.project-details-section .all-content-prdt .text-side .location p {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.project-details-section .all-content-prdt .text-side .price p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: "Gilroy", sans-serif;
}
.project-details-section .all-content-prdt .text-side .price span {
  color: #ff8600;
  font-weight: 600;
}
.project-details-section .all-content-prdt .text-side p {
  font-family: "Gilroy", sans-serif;
  color: #6b7680;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  width: 70%;
  line-height: 21px;
}
.project-details-section .all-content-prdt .text-side label {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.project-details-section .all-content-prdt .text-side select {
  width: 100%;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #e0e5e5;
  padding: 0 0.5rem;
  cursor: pointer;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  margin-top: 1rem;
}
.project-details-section .all-content-prdt .text-side .two-btn {
  display: flex;
  gap: 1rem;
  margin-top: 8rem;
}
.project-details-section .all-content-prdt .text-side .two-btn .btn1 {
  width: 50%;
  height: 52px;
  padding: 0.8rem 0;
  background-color: #f9b11c;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}
.project-details-section .all-content-prdt .text-side .two-btn .btn2 {
  width: 50%;
  height: 52px;
  padding: 0.8rem 0;
  background-color: #ffffff;
  text-decoration: none;
  color: #0f0f0f;
  text-align: center;
  border: 1px solid #0f0f0f;
}
.project-details-section .content-prdt {
  margin-top: 4rem;
  padding-left: 1rem;
}
.project-details-section .content-prdt .all-text-cnt {
  border-left: 1px solid #e0e5e5;
  padding-left: 2rem;
}
.project-details-section .content-prdt .all-text-cnt span {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.project-details-section .content-prdt .all-text-cnt h4 {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  margin: 1rem 0;
}
.project-details-section .content-prdt .all-text-cnt p {
  font-family: "Gilroy", sans-serif;
  color: #6b7680;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  width: 90%;
  line-height: 21px;
}
.project-details-section .content-prdt2 {
  margin-top: 5rem;
}
.project-details-section .content-prdt2 .text-cnt h4 {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}
.project-details-section .content-prdt2 .text-cnt p {
  font-family: "Gilroy", sans-serif;
  color: #6b7680;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  width: 90%;
  margin-top: 1rem;
}
.project-details-section .content-prdt2 .box-content h4 {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}
.project-details-section .content-prdt2 .box-content .inner-content {
  background: #f1f1f1;
  margin-top: 1rem;
  padding: 1rem;
  padding-bottom: 0;
}
.project-details-section .content-prdt2 .box-content .inner-content .arow-text {
  display: flex;
}
.project-details-section .content-prdt2 .box-content .inner-content .arow-text img {
  width: 14px;
  height: 14px;
  margin-top: 0.1rem;
  margin-right: 0.5rem;
}
.project-details-section .content-prdt2 .box-content .inner-content .arow-text p {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.project-details-section .big-main-img {
  margin-top: 4rem;
}
.project-details-section .big-main-img .one-img img {
  width: 100%;
}

.after-styleco {
  padding: 2rem 8%;
}
.after-styleco .as-heading h4 {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}
.after-styleco .as-images {
  margin-top: 1.5rem;
}
.after-styleco .as-images .as-img img {
  width: 100%;
}
.after-styleco .as-one-img {
  margin-top: 1.5rem;
}
.after-styleco .as-one-img .as-single-img img {
  width: 100%;
}
.after-styleco .as-three-images {
  margin-top: 1.5rem;
}
.after-styleco .as-three-images .three-img img {
  width: 100%;
}

.customer-review {
  padding: 4rem 8%;
  text-align: center;
}
.customer-review .cr-heading h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  margin: 1.5rem 0;
  font-family: "Gilroy", sans-serif;
  line-height: 38px;
}
.customer-review .swiper .swiper-wrapper .swiper-slide {
  cursor: pointer;
}
.customer-review .swiper .swiper-wrapper .swiper-slide p {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  padding: 0 15rem;
  line-height: 32px;
}
.customer-review .swiper .swiper-wrapper .swiper-slide span {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.blinds-items-section .blt-heading {
  text-align: center;
}
.blinds-items-section .blt-heading h2 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}
.blinds-items-section .blt-heading p {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.blinds-items-section .all-blt-btn {
  margin-top: 2rem;
  justify-content: center;
}
.blinds-items-section .all-blt-btn a {
  text-decoration: none;
  font-family: "Gilroy", sans-serif;
  color: #0f0f0f;
  font-style: normal;
  padding: 0.8rem 1.5rem;
  background-color: #f9b11c;
  font-weight: 600;
  font-size: 16px;
  width: 250px;
  text-align: center;
  line-height: 19px;
}

@media only screen and (max-width: 1750px) {
  .project-details-section .all-content-prdt .text-side h1 {
    width: 75%;
  }
  .project-details-section .all-content-prdt .text-side p {
    width: 80%;
  }
}
@media only screen and (max-width: 1500px) {
  .project-details-section .all-content-prdt .text-side h1 {
    width: 100%;
  }
  .project-details-section .all-content-prdt .text-side p {
    width: 100%;
  }
}
@media only screen and (max-width: 450px) {
  .project-details-section {
    padding: 2rem 4%;
  }
  .project-details-section .all-content-prdt .img-side img {
    width: 100%;
  }
  .project-details-section .all-content-prdt .text-side {
    margin-top: 1rem;
  }
  .project-details-section .all-content-prdt {
    margin-top: 0rem;
    align-items: center;
  }
  .project-details-section .all-content-prdt .text-side h1 {
    font-size: 30px;
    width: 100%;
    line-height: 35px;
    margin-top: 0.5rem;
    letter-spacing: 0.02em;
  }
  .project-details-section .all-content-prdt .text-side .price p {
    margin-bottom: 0.5rem;
  }
  .project-details-section .all-content-prdt .text-side .two-btn {
    margin-top: 2rem;
  }
  .project-details-section .all-content-prdt .text-side .two-btn .btn1 {
    width: 50%;
    height: 50px;
    padding: 0.8rem 0.2rem;
    font-size: 14px;
  }
  .project-details-section .all-content-prdt .text-side .two-btn .btn2 {
    width: 50%;
    height: 50px;
    font-size: 14px;
    padding: 0.8rem 0;
  }
  .project-details-section .content-prdt2 {
    margin-top: 2.5rem;
  }
  .project-details-section .content-prdt2 .text-cnt h4 {
    font-size: 24px;
    line-height: 30px;
  }
  .project-details-section .content-prdt2 .text-cnt p {
    font-size: 14px;
    line-height: 21px;
    width: 99%;
    margin-top: 0.5rem;
  }
  .project-details-section .content-prdt2 .box-content h4 {
    font-size: 24px;
    line-height: 30px;
  }
  .project-details-section .content-prdt2 .box-content .inner-content .arow-text p {
    font-size: 15px;
    line-height: 17px;
  }
  .after-styleco {
    padding: 0rem 4%;
  }
  .after-styleco .as-heading h4 {
    font-size: 24px;
    line-height: 30px;
  }
  .after-styleco .as-images {
    margin-top: 0rem;
  }
  .after-styleco .as-images .as-img img {
    width: 100%;
    margin-top: 1rem;
  }
  .after-styleco .as-three-images .three-img img {
    width: 100%;
    margin-bottom: 1rem;
  }
  .customer-review .swiper .swiper-wrapper .swiper-slide p {
    font-size: 18px;
    padding: 0rem;
    line-height: 26px;
  }
  .customer-review .cr-heading h4 {
    font-size: 24px;
    margin: 1rem 0;
    line-height: 30px;
  }
  .customer-review {
    padding: 2rem 6%;
  }
  .blinds-items-section .blt-heading h2 {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
  }
  .blinds-items-section .all-blt-btn a {
    font-size: 15px;
    width: 200px;
  }
  .after-styleco .as-heading h4 {
    font-size: 20px;
    line-height: 24px;
  }
  .project-details-section .content-prdt .all-text-cnt {
    border-left: 1px solid #e0e5e5;
    padding-left: 1rem;
  }
  .project-details-section .content-prdt {
    margin-top: 2rem;
    padding-left: 1rem;
  }
  .project-details-section .content-prdt .all-text-cnt h4 {
    font-size: 24px;
    line-height: 30px;
    margin: 0.5rem 0;
  }
  .project-details-section .big-main-img {
    margin-top: 2rem;
  }
}/*# sourceMappingURL=project-details.css.map */