@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Questrial&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

footer .all-footer-content {
  padding: 4rem 8%;
  padding-bottom: 2rem;
}
footer .all-footer-content .logo-icons h6 {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin-top: 3rem;
}
footer .all-footer-content .logo-icons .social-icons {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}
footer .all-footer-content .menu-list {
  display: flex;
  gap: 4rem;
}
footer .all-footer-content .menu-list ul li {
  list-style: none;
  padding-top: 0.7rem;
}
footer .all-footer-content .menu-list ul li a {
  text-decoration: none;
  color: #0F0F0F;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  transition: all 0.2s ease-in-out;
}
footer .all-footer-content .menu-list ul li a:hover {
  color: #F9B11C;
  text-decoration: underline;
}
footer .all-footer-content .contact-side-ft {
  padding: 1rem 0 0 4rem;
}
footer .all-footer-content .contact-side-ft p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  font-family: "Gilroy", sans-serif;
}
footer .all-footer-content .contact-side-ft a {
  padding: 0.5rem 1rem;
  background-color: #FFFFFF;
  border: 1px solid #F9B11C;
  color: #F9B11C;
  text-decoration: none;
  margin: 1rem 0 0 0;
  display: block;
  transition: all 0.3s ease-in-out;
}
footer .all-footer-content .contact-side-ft a:hover {
  color: #FFFFFF;
  background-color: #F9B11C;
}
footer .all-footer-content .contact-side-ft label {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}
footer .all-footer-content .contact-side-ft input {
  padding: 0.4rem 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
  background-color: #F9B11C;
  border: none;
}
footer .copy-right {
  padding: 0rem 8% 2rem 8%;
}
footer .copy-right .cr-text p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  font-family: "Gilroy", sans-serif;
}
footer .copy-right .link-side {
  display: flex;
  gap: 4rem;
  justify-content: right;
}
footer .copy-right .link-side a {
  font-family: "Gilroy", sans-serif;
  color: #0F0F0F;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: block;
  transition: all 0.2s ease-in-out;
}
footer .copy-right .link-side a:hover {
  color: #F9B11C;
  text-decoration: underline;
}

@media only screen and (max-width: 1650px) {
  footer .all-footer-content {
    padding: 4rem 6%;
    padding-bottom: 2rem;
  }
  footer .copy-right {
    padding: 0rem 6% 2rem 6%;
  }
}
@media only screen and (max-width: 450px) {
  footer .all-footer-content {
    padding: 2rem 4%;
    padding-bottom: 1rem;
  }
  footer .all-footer-content .logo-icons {
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
  }
  footer .all-footer-content .logo-icons h6 {
    margin-top: 2rem;
  }
  footer .all-footer-content .menu-list {
    display: flex;
  }
  footer .all-footer-content .logo-icons .social-icons {
    justify-content: center;
    margin-top: 1rem;
  }
  footer .all-footer-content .contact-side-ft {
    padding: 1rem;
  }
  footer .all-footer-content .contact-side-ft a {
    margin: 1rem 0 0 0;
    display: block;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  footer .all-footer-content .contact-side-ft label {
    display: block;
    line-height: 14px;
  }
  footer .all-footer-content .contact-side-ft input {
    margin-top: -0.5rem;
  }
  footer .copy-right {
    text-align: center;
    padding: 0rem 0% 2rem 0%;
  }
  footer .copy-right .link-side {
    gap: 2rem;
    justify-content: center;
  }
  footer .all-footer-content .menu-list {
    display: flex;
    gap: 3rem;
  }
}/*# sourceMappingURL=footer.css.map */